cpu31/cpu31.xpr
cpu31/cpu31.runs/
cpu31/cpu31.cache/
cpu31/cpu31.hw/
cpu31/cpu31.sim/
cpu31/cpu31.ip_user_files/
cpu31/cpu31.srcs/sim_1/
*_stub.v
*_netlist.v

*.vhdl
*.dcp
*.xci
*.xml
*.veo
*.vdc
*.vho
*.txt
*.vhd
*.xdc
*7x16.v
!timing_report.txt
debug_coe/
standards4coes/